[submodule "paragraf_ios_client"]
	path = paragraf_ios_client
	url = https://github.com/lasson-g/paragraf_ios_client.git
[submodule "paragraf_android_client"]
	path = paragraf_android_client
	url = https://github.com/Bouxty/paragraf_android_client.git
